---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: false
---
/* TEAM */
Developer: {{ site.author.name }}
Site: {{ site.author.url }}
Contact: {{ site.url }}

/* SITE */
Last update: {% year %}
Standards: HTML5, CSS3
Language: English
Components: Eleventy, Nunjucks, Bootstrap 5, Bootstrap Icons
Doctype: HTML5

/* THANKS */
Claude: https://claude.ai/
Eleventy: https://www.11ty.dev
Bootstrap: https://getbootstrap.com
Bootswatch: https://bootswatch.com
